{% extends "index.html" %}
{% block mid %}

<div class="card" style="font-family: 'Noto Sans KR', sans-serif;" >
  <div class="card-header">
    글 등록
  </div>
  <center>
  <div class="card-body" style="height: 550px;">
    <form enctype="multipart/form-data" method="post" action="/products/registrationProcess" style="width: 500px;">
      <div class="input-group mb-3 shadow ">
        <select required name="productCategory" class="form-select" aria-label="Default select example">
          <option value="" selected>종류</option>
          <option value="1">자유</option>
          <option value="2">유머</option>
        </select>
      </div>
      <div class="input-group mb-3 shadow ">
        <span class="input-group-text" id="basic-addon1">제목</span>
        <input required type="text" name="productName" class="form-control" aria-label="Username" aria-describedby="basic-addon1"></input>
      </div>
      
      <div class="input-group mb-3 shadow" style="height: 300px;">
        <span class="input-group-text" id="basic-addon1">내용</span>
        <textarea required type="text" name="productQuantity" class="form-control"></textarea>
      </div>
      <div class="input-group mb-3 shadow ">
        <span class="input-group-text" id="basic-addon1">이미지</span>
        <input required type="file" name="productImg" class="form-control">
      </div>
      <input type="submit" value="작성" class="btn btn-outline-primary"></input>
    </form>
  </div>
</div>
</center>

{% endblock %}
